workflows/n8n/01-trigger-marketing-request.json
{
  "name": "Trigger - Marketing Request with Consents",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-request",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "marketing-request-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "tenantId",
              "value": "={{ $json.body.tenantId }}",
              "type": "string"
            },
            {
              "name": "userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "name": "instruction",
              "value": "={{ $json.body.instruction }}",
              "type": "string"
            },
            {
              "name": "campaignId",
              "value": "={{ $json.body.campaignId ?? null }}",
              "type": "string"
            },
            {
              "name": "requiresApproval",
              "value": "={{ Boolean($json.body.requiresApproval) }}",
              "type": "boolean"
            },
            {
              "name": "channelsNormalized",
              "value": "={{ Array.isArray($json.body.channels) ? $json.body.channels : ($json.body.channels ? [$json.body.channels] : []) }}",
              "type": "array"
            },
            {
              "name": "assets",
              "value": "={{ Array.isArray($json.body.assets) ? $json.body.assets : ($json.body.assets ? [$json.body.assets] : []) }}",
              "type": "array"
            }
          ]
        }
      },
      "id": "normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tenantId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.userId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.instruction }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ Number($json.channelsNormalized.length) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            },
            {
              "leftValue": "={{ $json.requiresApproval }}",
              "operator": {
                "type": "boolean",
                "operation": "isNotEmpty"
              }
            }
          ]
        }
      },
      "id": "validate-fields",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Missing required fields', message: 'The request must include: tenantId, userId, instruction, channels, and requiresApproval' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond - Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "tenantId",
              "value": "={{ $json.tenantId }}",
              "type": "string"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}",
              "type": "string"
            },
            {
              "name": "campaignId",
              "value": "={{ $json.campaignId ?? null }}",
              "type": "string"
            },
            {
              "name": "instruction",
              "value": "={{ $json.instruction }}",
              "type": "string"
            },
            {
              "name": "channels",
              "value": "={{ $json.channelsNormalized }}",
              "type": "array"
            },
            {
              "name": "assets",
              "value": "={{ $json.assets }}",
              "type": "array"
            },
            {
              "name": "requiresApproval",
              "value": "={{ $json.requiresApproval }}",
              "type": "boolean"
            },
            {
              "name": "validatedData",
              "value": "={{ { tenantId: $json.tenantId, userId: $json.userId, campaignId: $json.campaignId ?? null, instruction: $json.instruction, channels: $json.channelsNormalized, assets: $json.assets, requiresApproval: $json.requiresApproval, receivedAt: $now, requestId: $execution.id } }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "set-validated-data",
      "name": "Set Validated Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1050, 400],
      "notes": "Preserva tenantId y userId en el nivel raíz para que el HTTP Request pueda leerlos. También crea validatedData con todos los datos."
    },
    {
      "id": "http-request-consents",
      "name": "HTTP Request - Check Consents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.BACKEND_URL && $env.BACKEND_URL !== 'http://localhost:5000') ? $env.BACKEND_URL : 'https://autonomousmarketingplatform.onrender.com' }}/api/ConsentsApi/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { 
              "name": "tenantId", 
              "value": "={{ $json.tenantId || '' }}" 
            },
            { 
              "name": "userId", 
              "value": "={{ $json.userId || '' }}" 
            }
          ]
        },
        "options": { 
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "notes": "⚠️ IMPORTANTE: Si n8n está en servidor remoto (n8n.bashpty.com), debes configurar BACKEND_URL en n8n con la URL pública de tu aplicación. localhost NO funciona desde servidor remoto. Usa ngrok o configura la URL pública."
    },
    {
      "id": "normalize-consents",
      "name": "Normalize Consents",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1450, 400],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "aiConsent",
              "value": "={{ Boolean($json.aiConsent ?? $json.data?.aiConsent) }}",
              "type": "boolean"
            },
            {
              "name": "publishingConsent",
              "value": "={{ Boolean($json.publishingConsent ?? $json.data?.publishingConsent) }}",
              "type": "boolean"
            },
            {
              "name": "tenantId",
              "value": "={{ $json.tenantId }}",
              "type": "string"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}",
              "type": "string"
            },
            {
              "name": "campaignId",
              "value": "={{ $json.campaignId ?? null }}",
              "type": "string"
            },
            {
              "name": "instruction",
              "value": "={{ $json.instruction }}",
              "type": "string"
            },
            {
              "name": "channels",
              "value": "={{ $json.channelsNormalized ?? $json.channels }}",
              "type": "array"
            },
            {
              "name": "assets",
              "value": "={{ $json.assets ?? [] }}",
              "type": "array"
            },
            {
              "name": "requiresApproval",
              "value": "={{ $json.requiresApproval }}",
              "type": "boolean"
            },
            {
              "name": "validatedData",
              "value": "={{ $json.validatedData }}",
              "type": "object"
            }
          ]
        }
      }
    },
    {
      "id": "validate-consents",
      "name": "Validate Consents",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 400],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.aiConsent }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "leftValue": "={{ $json.publishingConsent }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "respond-consent-error",
      "name": "Respond - Consent Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 300],
      "parameters": {
        "respondWith": "json",
        "responseCode": 403,
        "responseBody": "={{ { success:false, error:'Missing consents', message:'User does not have required consents to proceed', aiConsent:$json.aiConsent, publishingConsent:$json.publishingConsent } }}"
      }
    },
    {
      "id": "respond-final-success",
      "name": "Respond - Final Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 500],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ { success:true, message:'Request validated successfully and consents verified', data:{ tenantId:$json.tenantId, userId:$json.userId, campaignId:$json.campaignId, instruction:$json.instruction, channels:$json.channels, assets:$json.assets, requiresApproval:$json.requiresApproval, validatedData:$json.validatedData, consents:{ aiConsent:$json.aiConsent, publishingConsent:$json.publishingConsent }, validatedAt:$now, requestId:$json.validatedData.requestId } } }}"
      }
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [[{ "node": "Normalize Payload", "type": "main", "index": 0 }]]
    },
    "Normalize Payload": {
      "main": [[{ "node": "Validate Required Fields", "type": "main", "index": 0 }]]
    },
    "Validate Required Fields": {
      "main": [
        [{ "node": "Respond - Validation Error", "type": "main", "index": 0 }],
        [{ "node": "Set Validated Data", "type": "main", "index": 0 }]
      ]
    },
    "Set Validated Data": {
      "main": [[{ "node": "HTTP Request - Check Consents", "type": "main", "index": 0 }]]
    },
    "HTTP Request - Check Consents": {
      "main": [[{ "node": "Normalize Consents", "type": "main", "index": 0 }]]
    },
    "Normalize Consents": {
      "main": [[{ "node": "Validate Consents", "type": "main", "index": 0 }]]
    },
    "Validate Consents": {
      "main": [
        [{ "node": "Respond - Consent Error", "type": "main", "index": 0 }],
        [{ "node": "Respond - Final Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "marketing-automation",
      "name": "Marketing Automation"
    },
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "trigger",
      "name": "Trigger"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
